// --primary-low is the grey color that shows up in a 1px line 
// near the bottom of topics. i want to remove the line but idk
// which element it is. changing this color is a workaround
// but also changes the colors of buttons and other elements
// that look fine grey!

// same typeface and font size as original forums
body, p, td {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
}

// styling for bigshot's chain graphic across the top
.head-tag-banner {
  border: none;
  // TODO fixed-width probably better?
  // about 675px seems good
  width: 100%;
  margin: auto;
  min-height: 32px;
  height: 100%;
  background-image: url(#{$head-tag-banner});
  background-repeat: repeat-x;
  background-position: center;
  align-items: center;
  justify-content: center;
}

// fixed-width at 550px to fit within the background graphic
:root {
	--d-max-width: 550px;
}

// styling for bigshot's background graphic
.discourse-root {
  background-image: url(#{$background});
  //background-size: 65% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center;
  background-color: #000000;
  transition: background-position 0.25s ease;
  will-change: background-position;
}

// smaller avatars
.avatar {
  width: 38px;
  height: 38px;
}

// square avatars - no need for a theme component!
img.avatar {
	border-radius: 0%;
}

// styling for the logo header/control bar at the top
.d-header {
  // TODO fixed-width probably better?
  width: 100%;
  margin: auto;
  box-shadow: none;
  border-top: 2px solid #382418;
  border-bottom: 2px solid #382418;
}

// border around "categories" and "tags" combo boxes
.combo-box {
  border: 2px solid #382418;
}

// get rid of white lines on combo boxes
.list-controls .combo-box .combo-box-header {
  border: none;
}

// transparent sidebar so you can at least still see the background
// eventually i'll properly theme the sidebar once i figure out
// how to make it not move the main view to the right when opened
.sidebar-wrapper {
  background: rgba(0,0,0,0.85);
}

// sidebar borders
.sidebar-wrapper .sidebar-container {
  border-right: 2px solid #382418;  
}

// sidebar currently-selected item
.sidebar-section-link-wrapper .sidebar-section-link--active, .sidebar-section-link-wrapper .sidebar-section-link.active {
	background: rgba(144, 192, 64, 0.75);
}

// tighten up margin below topic titles
#topic-title {
	margin-bottom: .25em;
}

// post dividing line + margin before start of post
.topic-body {
  padding: .4em 0 0 0;
  border-top: 2px solid #382418;
}

.topic-body .cooked {
	padding: .25em var(--topic-body-width-padding) .25em var(--topic-body-width-padding);
}

.topic-avatar {
  width: 36px;
  padding-top: 4px;
  padding-left: 4px;
  border-top: 2px solid #382418;
}

.topic-map {
  background: #382418;
}

.posts-wrapper {
  background: #1c1610;
  border-bottom: 2px solid #382418;
}

.sticky-header .topic-list-header {
	background: #1c1610;
}

tbody {
	border-top: 3px solid #382418;
}

.topic-list {
  background-color: #1c1610;
}

.topic-list-item {
	border-bottom: 1px solid #382418;
}

// hide avatars from topic lists
.posters.topic-list-data {
	display: none;
  visibility: hidden;
}

// last visited for the "latest" page
.topic-list .topic-list-item-separator .topic-list-data {
	border-top: 1px solid gold;
}

// last visited for the "latest" page
.topic-list .topic-list-item-separator .topic-list-data span {
	position: relative;
	background-color: #1c1610;
	color: gold;
}

// last visited for inside topics
.small-action.topic-post-visited .topic-post-visited-line {
  border-bottom: 1px solid gold;
  color: gold
}

// last visited for inside topics
.small-action.topic-post-visited .topic-post-visited-line .topic-post-visited-message {
	position: relative;
	background-color: #1c1610;
	color: gold;
}

.categories-and-latest {
  background-color: #1c1610; 
}

.list-cell, .category-list td, .category-list th, .table-heading {
	color: var(--primary-high);
}

// allow post titles to span across the entire post container
#topic-title .title-wrapper {
	width: 100%;
}

// hide "first time user has posted" callouts in topics
// once the users are no longer new
.post-notice.new-user.old {
	display: none;
	visibility: hidden;
}

// styling for "small actions" within topics
// only used for the time gap callouts? ("1 month later")
.small-action .topic-avatar, .small-action .small-action-desc {
	border-top: 2px solid #382418;
	border-bottom: 2px solid #382418;
}

.topic-navigation {
  display: none;
  visibility: hidden;
}

.topic-above-footer-buttons-outlet.presence {
  display: none;
  visibility: hidden;
}

.topic-map.--op {
  display: none;
  visibility: hidden;
}

.topic-map.--bottom {
  display: none;
  visibility: hidden;
}

body:not(.archetype-private_message) .topic-map {
  display:none;
  visibility:hidden;
}

.more-topics__container {
  display: none;
  visibility: hidden;
}

.table-heading {
	border-bottom: 3px solid #382418;
}

// this causes avatars to stack vertically when multiple users have posted in a thread
/* .topic-list .posters {
	width: 0px;
}*/

.latest-topic-list-item {
	border-bottom: 1px solid #382418;
}

.post-action-menu__like-count {
  //display: none;
  //visibility: hidden;
}

.post-action-menu__like {
  //display: none;
  //visibility: hidden;
}

nav.post-controls .actions button {
	margin-left: 1px;
}

nav.post-controls .actions button.btn-icon-text, nav.post-controls .actions button.create {
	margin-left: 1px;
}

.post-info.edits .widget-button .d-button-label {
  display: none;
  visibility: hidden;
}

.heatmap-high, .heatmap-high a, .heatmap-high .d-icon, .heatmap-high .d-button-label {
	color: #dddddd !important;
}

.most-liked-section {
  display: none;
  visibility: hidden; 
}

.open .grippie::before {
	border-top: 3px double var(--tertiary);
}

.open .grippie {
	background: #382418;
}

#reply-control {
	max-width: 1000px;
}

.d-editor-textarea-wrapper {
	background-color: #1c1610;  
}

.reply-area {
	background-color: #1c1610;
}

.avatar-wrapper {
	background-color: #1c1610;
	border-radius: 0%;
}

.user-card .card-content, .group-card .card-content {
	background: #1c1610;
}

.user-content {
	background: #1c1610;
  padding-bottom: 0px;
  margin-top: 0em;
}

.post-list .post-list-item {
  background: #1c1610; 
	border-bottom: 1px solid #382418;

}

.user-main .about.collapsed-info .details {
  border-top: 1px solid #382418;
  padding-top: 6px;
  border-bottom: 1px solid #382418;
	background: #1c1610;
}

.user-main .about .details {
  border-top: 1px solid #382418;
  padding-top: 6px;
  border-bottom: 1px solid #382418;
	background: #1c1610;
}

.new-user-wrapper .user-navigation {
	background: #1c1610;
}

.user-stream .user-notifications-list li.notification {
  border-bottom: 1px solid #382418;
	background: #1c1610;
}

// styling for @mentions
/*a.mention, a.mention-group {
  color: black;
  //font-weight: bold;
	background: var(--tertiary);
}*/

.stats-likes-given .user-stat {
  //display: none;
  //visibility: hidden;
}

.stats-likes-received .user-stat {
  //display: none;
  //visibility: hidden;
}

// screenreader? this adds weird 1px lines in some places
// that i haven't figured out how to recolor yet
// so they are gone for now!
.sr-only {
  display: none;
  visibility: hidden;
}

// discourse we love you but "powered by" is inauthentic!
.powered-by-discourse {
	display: none;
	visibility: hidden;
}

/* Topic Post Crown and Background */
.topic-post.group-fmod article.boxed {
  .topic-body { border-top: none; }
  .topic-avatar { border-top: none; }
  border: 2px solid rgb(0, 91, 0) !important;
  background-color: rgb(8, 35, 8) !important;
}
.topic-post.group-jmod article.boxed {
  .topic-body { border-top: none; }
  .topic-avatar { border-top: none; }
  border: 1px solid rgb(195, 176, 0) !important;
  background-color: rgb(59, 53, 0) !important;
}
.topic-meta-data .svg-icon-title { display: none !important; }
.topic-meta-data svg.d-icon-shield-halved { display: none !important; }
.user-title {
  display: inline-block;
  margin-left: 10px;
}
.topic-post .topic-avatar {
  position: relative;
  overflow: visible;
}
.topic-post.group-fmod
  .topic-meta-data
  .names
  span.username.group--fmod > a::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 11px;
  margin-right: 2px;
  margin-top: 1px;
  vertical-align: text-top;
  background: url($fmod) no-repeat center/contain;
  pointer-events: none;
}
.topic-body
  .topic-meta-data
  .names
  span.username.group--fmod > a::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 11px;
  margin-right: 2px;
  margin-top: 1px;
  vertical-align: text-top;
  background: url($fmod) no-repeat center/contain;
  pointer-events: none;
}
.topic-post.group-jmod
  .topic-meta-data
  .names
  span.username.group--jmod > a::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 11px;
  margin-right: 2px;
  margin-top: 1px;
  vertical-align: text-top;
  background: url($jmod) no-repeat center/contain;
  pointer-events: none;
}
.topic-body
  .topic-meta-data
  .names
  span.username.group--jmod > a::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 11px;
  margin-right: 2px;
  margin-top: 1px;
  vertical-align: text-top;
  background: url($jmod) no-repeat center/contain;
  pointer-events: none;
}

/* User Card */
.user-card .svg-icon { display: none !important; }
.user-card.group-jmod 
  .names__primary.username 
  .user-profile-link::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 13px;
  height: 11px;
  transform: scale(1.8);
  transform-origin: center center;
  margin-right: 6px;
  background: url($jmod) no-repeat center/contain;
  pointer-events: none;
}
.user-card.group-fmod 
  .names__primary.username 
  .user-profile-link::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 13px;
  height: 11px;
  transform: scale(1.8);
  transform-origin: center center;
  margin-right: 6px;
  background: url($fmod) no-repeat center/contain;
  pointer-events: none;
}

/* User Profile Page */
.details .user-profile-names__primary svg.d-icon-shield-halved { display: none !important; }

/* Menu Fix */
body.has-sidebar-page .discourse-root {
  background-position: calc(50% + 150px) center;
}
body.has-sidebar-page #main-outlet {
  width: 532px;
  margin-left: 20px !important;
}

/* In-card replies fix */
.topic-body .reply {
  background-color: var(--blend-primary-secondary-5);
  border-left: 2px solid #88b;
  margin-left: 20px;
  .post-link-arrow a {
    color: white;
  }
}
.embedded-posts.top .row .topic-body {
  min-height:120px;
}
.embedded-posts.top .row .topic-body::before {
  display: none;
}
.embedded-posts.bottom>div:last-of-type .row::before {
  display: none;
}