body, p, td {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
}

.head-tag-banner {
  border: none;
  width: 100%;
  min-height: 42px;
  height: 100%;
  background-image: url(#{$head-tag-banner});
  background-repeat: repeat-x;
  background-position: center;
  align-items: center;
  justify-content: center;
}

:root {
	--d-max-width: 550px;
}

.discourse-root {
  background-image: url(#{$background});
  //background-size: 65% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center;
  background-color: #000000;
}

.avatar {
  width: 38px;
  height: 38px;
}

img.avatar {
	border-radius: 0%;
}

.d-header {
  width: auto;
  box-shadow: none;
  border: 2px solid #382418;
}

.combo-box {
  border: 2px solid #382418;
}

.list-controls .combo-box .combo-box-header {
  border: none;
}

.sidebar-wrapper {
  background: rgba(0,0,0,0.85);
}

.sidebar-wrapper .sidebar-container {
  border-right: 2px solid #382418;  
}

.sidebar-section-link-wrapper .sidebar-section-link--active, .sidebar-section-link-wrapper .sidebar-section-link.active {
	background: rgba(144, 192, 64, 0.75);
}

#topic-title {
	margin-bottom: .25em;
}

.topic-body {
  padding: .4em 0 0 0;
  border-top: 2px solid #382418;
}

.topic-body .cooked {
	padding: .25em var(--topic-body-width-padding) .25em var(--topic-body-width-padding);
}

.topic-avatar {
  width: 36px;
  padding-top: 4px;
  padding-left: 4px;
  border-top: 2px solid #382418;
}

.topic-map {
  background: #382418;
}

.posts-wrapper {
  background: #1c1610;
  border-bottom: 2px solid #382418;
}

.sticky-header .topic-list-header {
	background: #1c1610;
}

tbody {
	border-top: 3px solid #382418;
}

.topic-list {
  background-color: #1c1610;
}

.topic-list-item {
	border-bottom: 1px solid #382418;
}

.posters.topic-list-data {
	display: none;
}

// last visited for the "latest" page
.topic-list .topic-list-item-separator .topic-list-data {
	border-top: 1px solid gold;
}

// last visited for the "latest" page
.topic-list .topic-list-item-separator .topic-list-data span {
	position: relative;
	background-color: #1c1610;
	color: gold;
}

// last visited for inside topics
.small-action.topic-post-visited .topic-post-visited-line {
  border-bottom: 1px solid gold;
  color: gold
}

// last visited for inside topics
.small-action.topic-post-visited .topic-post-visited-line .topic-post-visited-message {
	position: relative;
	background-color: #1c1610;
	color: gold;
}

.categories-and-latest {
  background-color: #1c1610; 
}

.list-cell, .category-list td, .category-list th, .table-heading {
	color: var(--primary-high);
}

.topic-navigation {
  display: none;
  visibility: hidden;
}

.topic-above-footer-buttons-outlet.presence {
  display: none;
  visibility: hidden;
}

.topic-map.--op {
  display: none;
  visibility: hidden;
}

.topic-map.--bottom {
  display: none;
  visibility: hidden;
}

body:not(.archetype-private_message) .topic-map {
  display:none;
  visibility:hidden;
}

.more-topics__container {
  display: none;
  visibility: hidden;
}

.table-heading {
	border-bottom: 3px solid #382418;
}

// this causes avatars to stack vertically when multiple users have posted in a thread
/* .topic-list .posters {
	width: 0px;
}*/

.latest-topic-list-item {
	border-bottom: 1px solid #382418;
}

.post-action-menu__like-count {
  //display: none;
  //visibility: hidden;
}

.post-action-menu__like {
  //display: none;
  //visibility: hidden;
}

nav.post-controls .actions button {
	margin-left: 1px;
}

nav.post-controls .actions button.btn-icon-text, nav.post-controls .actions button.create {
	margin-left: 1px;
}

.post-info.edits .widget-button .d-button-label {
  display: none;
  visibility: hidden;
}

.heatmap-high, .heatmap-high a, .heatmap-high .d-icon, .heatmap-high .d-button-label {
	color: #dddddd !important;
}

.most-liked-section {
  display: none;
  visibility: hidden; 
}

.open .grippie::before {
	border-top: 3px double var(--tertiary);
}

.open .grippie {
	background: #382418;
}

#reply-control {
	max-width: 1000px;
}

.d-editor-textarea-wrapper {
	background-color: #1c1610;  
}

.reply-area {
	background-color: #1c1610;
}

.avatar-wrapper {
	background-color: #1c1610;
	border-radius: 0%;
}

.user-card .card-content, .group-card .card-content {
	background: #1c1610;
}

.user-content {
	background: #1c1610;
  padding-bottom: 0px;
  margin-top: 0em;
}

.post-list .post-list-item {
  background: #1c1610; 
	border-bottom: 1px solid #382418;

}

.user-main .about.collapsed-info .details {
  border-top: 1px solid #382418;
  padding-top: 6px;
  border-bottom: 1px solid #382418;
	background: #1c1610;
}

.user-main .about .details {
  border-top: 1px solid #382418;
  padding-top: 6px;
  border-bottom: 1px solid #382418;
	background: #1c1610;
}

.new-user-wrapper .user-navigation {
	background: #1c1610;
}

.user-stream .user-notifications-list li.notification {
  border-bottom: 1px solid #382418;
	background: #1c1610;
}

.stats-likes-given .user-stat {
  //display: none;
  //visibility: hidden;
}

.stats-likes-received .user-stat {
  //display: none;
  //visibility: hidden;
}

.sr-only {
  display: none;
  visibility: hidden;
}

/* Topic Post Flair and Background */
.topic-post.group-fmod article.boxed {
  .topic-body { border-top: none; }
  .topic-avatar { border-top: none; }
  border: 2px solid rgb(0, 92, 0) !important;
  background-color: rgb(10, 38, 10) !important;
}
.topic-post.group-jmod article.boxed {
  .topic-body { border-top: none; }
  .topic-avatar { border-top: none; }
  border: 1px solid rgb(207, 185, 0) !important;
  background-color: rgb(65, 58, 0) !important;
}
.topic-meta-data .svg-icon-title {
  display: none !important;
}
.topic-meta-data svg.d-icon-shield-halved {
  display: none !important;
}
.user-title {
  display: inline-block;
  margin-left: 10px;
}
.topic-avatar .avatar-flair {
  display: none !important;
}

.topic-post .topic-avatar {
  position: relative;
  overflow: visible;
}
.topic-post.group-fmod .topic-avatar::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 50px;
  width: 13px;
  height: 11px;
  background: url(#{$fmod-crown}) no-repeat center/contain;
  pointer-events: none;
}
.topic-post.group-jmod .topic-avatar::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 50px;
  width: 13px;
  height: 11px;
  background: url(#{$jmod-crown}) no-repeat center/contain;
  pointer-events: none;
}

/* User Card */
.user-card .card-content {
  position: relative;
}
.user-card-avatar .avatar-flair {
  position: absolute !important;
  top:54px;
  left: 128px;
  width: 13px !important;
  height: 11px !important;
  background-size: contain;
  pointer-events: none;
}
.user-card .names {
  margin-left: 24px;
}
.user-card .names__primary svg.d-icon-shield-halved {
  display: none !important;
}

/* User Profile Page */
.details .primary {
  position: relative;
}
.details .user-profile-avatar .avatar-flair {
  position: absolute !important;
  top: 10px; 
  left: 58px;
  width: 13px  !important;
  height: 11px !important;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none; 
}
.details .primary-textual .user-profile-names {
  margin-left: 15px;  
}
.details .user-profile-names__primary svg.d-icon-shield-halved {
  display: none !important;
}
