.discourse-root {
  background-image: url(#{$background});
  background-size: 65% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center;
}

.d-header {
  width: auto;
  box-shadow: none;
  border: 2px solid #382418;
}

.combo-box {
  border: 2px solid #382418;
}

.list-controls .combo-box .combo-box-header {
  border: none;
}

.sidebar-wrapper {
  background: rgba(0,0,0,0.85);
}

.sidebar-wrapper .sidebar-container {
  border-right: 2px solid #382418;  
}

.topic-body {
  border-top: 2px solid #382418;
}

.topic-avatar {
  border-top: 2px solid #382418;
}

.topic-map {
  background: #382418;
}

.posts-wrapper {
  background: #1c1610;
}

.topic-list {
  background-color: black;
}

.topic-above-footer-buttons-outlet.presence {
  display: none;
  visibility: hidden;
}

.topic-map.--op {
  display: none;
  visibility: hidden;
}

.topic-map.--bottom {
  display: none;
  visibility: hidden;
}

body:not(.archetype-private_message) .topic-map {
  display:none;
  visibility:hidden;
}

.more-topics__container {
  display: none;
  visibility: hidden;
}

.post-action-menu__like-count {
  display: none;
  visibility: hidden;
}

.post-action-menu__like {
  display: none;
  visibility: hidden;
}

.head-tag-banner {
  border: none;
  width: 100%;
  min-height: 42px;
  height: 100%;
  background-image: url(#{$head-tag-banner});
  background-repeat: repeat-x;
  background-position: center;
  align-items: center;
  justify-content: center;
}